h2 {
  font-family: 'arial black';
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}

h3 {
  font-family: 'arial black';
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px coral;/*左線*/
}

p {
  padding: 0.25em 1.5em;/*上下 左右の余白*/
}

body {
  font-size: 16px;
  color: #1e1e1e;
  font-family: 'arial';
}

canvas {
  /* padding: 0.25em 1.5em;/*上下 左右の余白*/ */
}
.description {
  font-family: 'arial black';
}

#white-desc {
  color: gray;
}

#black-desc {
  color: black;
}

#turn {
  color: hotpink;
}

#score {
  font-family: 'arial';
}
